@using Category = BlazorUI.Data.Category

<div class="m-3" style="color: #ffffff">
    <label>Categories:</label>
</div>

@code
{
    public static IList<Category> CategoriesList { get; set; } = new List<Category>();
}