<div class="m-3" style="color: #ffffff">
    <Label>Import state</Label>
    <FileEdit Changed="@OnChangedState" />
    
    <Label>Import transactions</Label>
    <FileEdit Changed="@OnChangedTransactions" />
</div>

@code{
    Task OnChangedState(FileChangedEventArgs e)
    {
        return Task.CompletedTask;
    }

    Task OnChangedTransactions(FileChangedEventArgs e)
    {
        return Task.CompletedTask;
    }
}