@using Core
@inherits LayoutComponentBase

<div class="sidebar">
    <Files></Files>
    <DateRangePicker></DateRangePicker>
    <Categories></Categories>
</div>

<div class="main">
    <div class="top-row px-4">
        <NavMenu/>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
}