@using System
<div class="m-3" style="color: #ffffff">
    <label>Interval:</label>

    <DatePicker TValue="DateOnly?" Dates="StartDate, EndDate" InputMode="DateInputMode.Date" @ref="@datePicker" SelectionMode="DateInputSelectionMode.Range" />
</div>

@code{
    [Parameter]
    public DatePicker<DateOnly?> datePicker { get; set; }

    public DateOnly? StartDate => datePicker.Dates?.FirstOrDefault<DateOnly?>() ?? DateOnly.MinValue;
    public DateOnly? EndDate => datePicker.Dates?.LastOrDefault<DateOnly?>() ?? DateOnly.MinValue;
}